footer{
    height: auto;
    background-color: rgb(14, 15, 42);
    width: 100%;
    margin-top: 50px;
}
.back_to_top_box{
    width: 100%;
padding: 10px 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: white;
    background-color: rgb(74, 74, 74);
}
.back_to_top_box:hover{
    background-color: gray;
}
.footer_text_box{
    display: flex;
    justify-content: space-evenly;
    height: 80%;
}
.footer_text_box h3{
    color: white;
max-width: 250px;
}
footer p {
    color: white;
}
footer p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.footer_above_box{
    height: auto;
width: 100%;
background-color: black;
display: flex;
justify-content: center;
color: white;
}
.footer_above_box > div{
    margin-top: 50px;
}
.box_leftside{
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(1, 100px);
}
.footer_above_box  b{
    max-width: 30px;
    font-size: 16px;
}
.footer_above_box p{
    max-width: 120px;
    font-size: 13px;
}
.box_rightside{
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(1, 100px);
}
@media only screen and (max-width: 780px){
    .box_leftside{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto); 
        height: 100%;       
    }
    .box_rightside{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);
    height: 100%;
    }
}
@media only screen and (max-width: 500px){
    .footer_text_box{
        display: flex;
        justify-content: center;
    }
    .footer_text_box b{
        font-size: 15px;
    }
    .footer_text_box p{
        font-size: 10px;
    }
    .footer_above_box{
        display: block;
        height: auto;
    }
    .box_leftside{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);        
    }
    .box_rightside{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);
    }
}